* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #050a0e;
    color: #ffffff;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    width: 100px;
}

.botao-entrar {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: #0b1218;
}

.conteudo-principal {
    max-width: 600px;
}

.etiqueta {
    background-color: #7c0808;
    color: #ee1919;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

h1 {
    font-size: 50px;
    margin: 20px 0;
}

.destaque-vermelho {
    color: #ee1919;
}

p {
    color: #a0a0a0;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 10px;
}

.botoes {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.botao-vermelho {
    background-color: #ee1919;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.botao-borda {
    background-color: transparent;
    color: white;
    border: 1px solid #333;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.imagem-topo img {
    width: 700px;
    border-radius: 15px;
    mask-image: linear-gradient(to right, transparent 0%, black 70%);
}

.numeros {
    display: flex;
    gap: 30px;
}

.vantagens {
    padding: 60px 90px;
    text-align: center;
}

.lista-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    
}

.card {
    background-color: #0b1218;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #333;
    flex: 1; 
    gap: 15px;
    text-align: left;
}

.icone {
    background-color: #7c0808;
    color: #ee1919;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 23px;
}

.chamada-final {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.caixa-banner {
    background-color: #0b1218;
    border: 1px solid #ee1919;
    padding: 60px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #333;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu a {
    color: #a0a0a0;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: #ffffff;
}

.clubes {
    padding: 40px;
    text-align: center;
    background-color: #050a0e;
    border-bottom: 1px solid #1a1a1a;
}

.clubes p {
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.grade-clubes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    opacity: 0.6;
}

.grade-clubes span {
    font-weight: bold;
    font-size: 18px;
}

.categorias {
    padding: 80px 50px;
    background-color: #0b1218;
}

.grade-categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.item-categoria {
    background-color: #070d13;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

.titulo-secao{
    text-align: center;
    margin-bottom: 40px;
}

.item-categoria:hover {
    border-color: #ee1919;
    color: #ee1919;
}


.video-sessao {
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.texto-video {
    text-align: center;
}

.container-video {
    width: 100%;
    max-width: 750px; 
    aspect-ratio: 16 / 9; 
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #333;
    position: relative; 
    background-color: #000; 
}
.container-video:hover {
    border-color: #a51010;
    transition: 0.3s;
}

.video-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.grade-clubes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
}

.time-hover {
    font-size: 24px;
    font-weight: bold;
    color: #a0a0a0;
    display: flex;
    align-items: center;
}

.logo-time-hover {
    width: 0px; 
    height: 35px;
    transition: 0.5s;
    margin: 0;
    object-fit: contain;
}

.time-hover:hover {
    color: #ffffff;
}

.time-hover:hover .logo-time-hover {
    width: 45px; 
    margin: 0 15px;
}

html {
  scroll-behavior: smooth;
}
